body {
    background-color: #e6f2ff;
}

table {
    border-collapse: collapse;
    /*border-collapse:separate;*/
    /*border:solid black 3px;*/
    /*border-radius:25px;*/

    text-align: center;
    vertical-align: middle;
    width: 100%;
}

thead {
    background-color: #333;
    color: white;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

thead th {
    /* width: 11%; */
    /* width: available;*/
}

.top {
    /*background-color: lightblue;*/
    display: flex;
    justify-content: center;
    width: 98%;
    padding: 8px;
    margin: 5px;
}

.maincontrol {
    /*background-color: lightgrey;*/
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 98%;
    padding: 8px;
    margin: 5px;
}

.infolabel {
    border-radius: 15px;
    padding: 8px;
    margin: 5px;
    width: 25%;
    display: inline-block;
}

.main {
    /*background-color: lightcyan;*/
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    display: flex;
    /*justify-content: center;*/
    width: 98%;
    padding: 8px;
    margin: 5px;
}

.mainleft {
    /*background-color: lightseagreen;*/
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    /*display: flex;*/
    width: 50%;
    padding: 8px;
    margin: 5px;
}

.mainright {
    /*background-color: lightpink;*/
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    /*display: inline-block;*/
    width: 50%;
    padding: 8px;
    margin: 5px;
}

.bottom {
    /*background-color: lightgreen;*/
    /*border-style: solid;*/
    /*border-width: 2px;*/
    /*border-radius: 10px;*/
    display: inline;
    justify-content: center;
    /*width: 98%;*/
    padding: 0px;
    margin: 0px;
}

.statushistory {
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    width: 98%;
    padding: 8px;
    margin: 5px;
}

.statushistoryhead {
    display: flex;
    justify-content: center;
}

/* Style the collapsible content. Note: hidden by default */
.statushistorycontent {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    /*background-color: lightgreen;*/
    /*display: flex;*/
    /*justify-content: center;*/
    width: 100%;
    padding: 1px;
    margin: 1px;
}

.transhistory {
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    width: 98%;
    padding: 8px;
    margin: 5px;
}

.transhistoryhead {
    display: flex;
    justify-content: center;
}

/* Style the collapsible content. Note: hidden by default */
.transhistorycontent {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    /*background-color: lightgreen;*/
    /*display: flex;*/
    /*justify-content: center;*/
    width: 100%;
    padding: 1px;
    margin: 1px;
}

.button {
    border-radius: 15px;
    padding: 8px;
    margin: 5px;
    width: 10%;
    display: inline-block;
}