@import "base.css";

/*table {*/
/*    border-collapse: collapse;*/
/*    !*border-collapse:separate;*!*/
/*    !*border:solid black 3px;*!*/
/*    !*border-radius:25px;*!*/

/*    text-align: center;*/
/*    vertical-align: middle;*/
/*    width: 100%;*/
/*}*/

/*thead {*/
/*    background-color: #333;*/
/*    color: white;*/
/*}*/

/*th, td {*/
/*    border: 1px solid black;*/
/*    padding: 5px;*/
/*}*/

/*thead th {*/
/*    !* width: 11%; *!*/
/*    !* width: available;*!*/
/*}*/

.top {
    /*background-color: lightblue;*/
    display: flex;
    justify-content: center;
    width: 98%;
    padding: 8px;
    margin: 5px;
}

.maincontrol {
    /*background-color: lightgrey;*/
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 98%;
    padding: 8px;
    margin: 5px;
}

.infolabel {
    border-radius: 15px;
    padding: 8px;
    margin: 5px;
    width: 25%;
    display: inline-block;
}

.main {
    /*background-color: lightcyan;*/
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    display: flex;
    /*justify-content: center;*/
    width: 98%;
    padding: 8px;
    margin: 5px;
}

.mainleft {
    /*background-color: lightseagreen;*/
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    /*display: flex;*/
    width: 50%;
    padding: 8px;
    margin: 5px;
}

.mainright {
    /*background-color: lightpink;*/
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    /*display: inline-block;*/
    width: 50%;
    padding: 8px;
    margin: 5px;
}

.bottom {
    /*background-color: lightgreen;*/
    /*border-style: solid;*/
    /*border-width: 2px;*/
    /*border-radius: 10px;*/
    display: inline;
    justify-content: center;
    /*width: 98%;*/
    padding: 0px;
    margin: 0px;
}

.statushistory {
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    width: 98%;
    padding: 8px;
    margin: 5px;
}

.statushistoryhead {
    display: flex;
    justify-content: center;
}

/* Style the collapsible content. Note: hidden by default */
.statushistorycontent {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    /*background-color: lightgreen;*/
    /*display: flex;*/
    /*justify-content: center;*/
    width: 100%;
    padding: 1px;
    margin: 1px;
}

.transhistory {
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    width: 98%;
    padding: 8px;
    margin: 5px;
}

.transhistoryhead {
    display: flex;
    justify-content: center;
}

/* Style the collapsible content. Note: hidden by default */
.transhistorycontent {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    /*background-color: lightgreen;*/
    /*display: flex;*/
    /*justify-content: center;*/
    width: 100%;
    padding: 1px;
    margin: 1px;
}

.dropdown {
    display: inline-block;
    position: relative;
    /*border-radius: 15px;*/
    /*padding: 8px;*/
    /*margin: 5px;*/
    width: 10%;
    /*background-color: lightpink;*/
}

.dropdownbutton {
    border-radius: 15px;
    padding: 8px;
    margin: 5px;
    /*margin-top: 5px;*/
    /*margin-bottom: 0px;*/
    /*margin-left: 5px;*/
    /*margin-right: 5px;*/
    width: 95%;
    height: 80%;
    display: inline-block;
    background-color: lightcyan;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 98%;
    overflow: auto;
    border-radius: 15px;
    background-color: lightcyan;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-content {
    display: grid;
    justify-content: center;
    font-size: 13px;
}

.dropdown-content label:hover {
    /*color: #FFFFFF;*/
    color: black;
    font-weight: bold;
    font-size: 15px;
    /*font-size: small;*/
    /*background-color: #00A4BD;*/
    justify-content: center;
}

.dropdown-label {
    display: inline-block;
    text-align: center;
    width: 120px;
    /*height: 10px;*/
}